<div class="{{ widget_css_class }}">
	{% if heading %}<h5 class="t-widget__heading">{{ heading }}</h5>{% endif %}
	{% if nodes %}
	<ul class="t-widget-side-menu__list">
		{% for node in nodes recursive %}
			<li class="t-widget-side-menu__item{% if css_class %} {{ css_class }}{% endif %}">
				<a class="t-widget-side-menu__link" href="{{ node.data.url }}"{% if node.data.new_window %} target="_blank" rel="noopener"{% endif %}>{{ node.data.name }}</a>
				{% if node.children %}<ul class="t-widget-side-menu__list t-widget-side-menu__list--nested">{{ loop(node.children) }}</ul>{% endif %}
			</li>
		{% endfor %}
	</ul>
	{% endif %}
</div>
